* {
	font-family: 'Montserrat';
}

body {
	margin:0px;
	width: 100%;
}
ul {
	list-style: none;
	margin:0;
	padding: 0;
}

.header {
	position:relative;
	background-image: url(../images/mapa.jpg);
	height: 351px;
}

.logotipo {
	display:inline-block;
}

.menu-a {
	display:inline-block;
	position: relative;
    left: 45px;
    margin-left: 300px;
    text-decoration: none;
}

.menu-a li {
	display:inline-block;
	padding-right: 35px;
	color:#ffffff;
	font-family: 'Montserrat';
	font-size: 11px;
	transition:2s;
}

.menu-a ul li a {
	text-decoration: none;
	color:white;
}

 .h_line {
 	width:11%;
 	height:2px;
 	background: #c7c7c9;
 	position: relative;
    bottom: -109px;
    right: -15px;
 }


.menu-a li a {
	  text-decoration: none;
}

.footer {
	background-color: #2d3134;
	margin-top: 107px;
	display:flex;
	height: 462px;
	overflow: hidden;
}

.direccion {
	display: flex;
	flex-direction:column;
	padding: 53px;
	line-height: 32px;
}

.direccion-2 {
	text-decoration: none;
	color: #8f9497;
	font-size: 20px;
	font-family: 'Italic';

}

.direccion:hover {
	
}
.direccion-b {
	display: flex;
	flex-direction:column;
	padding: 53px;
	line-height: 32px;
}


.email {
	text-decoration: none;
	color:#dfdfe1;
}
.titulo-f {
	color:#d5dae0;
	font-weight: 100;
	font-size: 13px;
}

.tel {
	color:#b1b2b6;
	text-decoration: none;
}

.direccion-b ul li a {
	text-decoration: none;
	color:#959a9d;
}

.titulo-f-2 {
	font-weight: 200;
	color:#d8dbe0;
	font-size:13px;
}

.footer-2{
	display:flex;
	flex-direction:row;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color:orange;
}

.input {
	border-radius: 3px;
	background-color: #353a3d;
	color:#909599;
	border:1px solid #353a3d;
	height: 41px;
	width: 253px;
	text-align:left;
	font-weight: 100;
}

input.input:focus {
    outline-width: 0;
}


.input-1 {
	position:relative;
	top: 75px;
    right: -133px;
}

.boton-3 {
	background-color:#9ea3a7;
	color: #ced2d5;
	border: 1px solid #9ea3a7;
	border-radius: 3px;
	height: 43px;
	width: 150px;
	position: relative;
    right: 6px;
    top: 1px;
    font-size: 18px;
    font-weight: 100;
    cursor:pointer;
}

.linea-2 { 
	height: 1px;
	background: #424649;
	width: 90%;
    position: relative;
    top: 497px;
    left: 55px;
}

.final {
	color:#73777a;
	position: relative;
    right: 806px;
    top: 273px;
}

/*.imagenes {
	display :flex;
	justify-content: center;
	width: 1150px;
}*/

.buy-now {
	-wedkit-transition-duration: 0.4s;
    transition-duration:0.4s;	
    border:solid transparent;
}

.buy-now:hover {
	border-radius: 15px;
	background-color: black;
	color:white;
}

.fa {
	color:#9ea3a7;
}

.iconos-2 {
	display: flex;
    justify-content: space-around;
    position: relative;
    top: 231px;
    right: -10px;
    margin-left: 167px;
}
.p-1{
	height: 678px
}

.p-1 p {
	padding-left: 78px;
	font-weight: 100;
	font-size: 20px;
	padding-top: 36px;
    padding-bottom: 3px;
}

.p-1 h1 {
	padding-left: 78px;
	font-size: 35px;
	font-weight: 300;
	font-family: 'Cinzel', serif;
}

.input-3 {

	background-color: #f9f9f9;
	color:#2b2c2e;
	border:1px solid #f9f9f9;
	height: 41px;
	width: 336px;
	text-align:left;
	font-weight: 100;
	position: relative;
    left: 81px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

input.input-3:focus {
    outline-width: 0;
}


.radio {
	font-weight: 300;
	padding-left: 75px;
    padding-top: 23px;
    position: relative;
    top: 65px;
    right: 684px;
}

.caja {
	font-weight: 100;
    position: relative;
    left: 80px;
    height: 200px;
    top: 25px;
    width: 800px;
    background-color: #f9f9f9;
    font-size: 21px;
    margin-top: 61px;
}

input.caja:focus {
    outline-width: 0;
}


.send {
	position: relative;
    top: 42px;
    right: -81px;
    display: flex;
    justify-content: flex-start;
    background-color: #2b3034;
    border-radius: 2px;
    border: 1px solid #2b3034;
    color:white;
   	width: 113px;
    height: 50px;
    font-weight: 100;
    cursor: pointer;
}

.derecha h3 {
    color:#a3a4a6;
    font-size: 15px;
}

.linea-3 {
	height: 1px;
	background: #f4f4f4;
	width: 77%;
    position: relative;
}

.linea-4 {
	height: 1px;
	background: #c5ac83;
	width: 4%;
    position: relative;
    top: 8px;
}

.phone {
	color:#c5ac84;
	position: relative;
}

.derecha p {
	font-weight: 100;
	font-size: 14px;
	position: relative;
    top: 16px;
    right: 77px;
}

.derecha {
	position: absolute;
    left: 981px;
    bottom: -284px;
}

.dire {
	font-weight: 100;
}

.derecha h4 {
	font-weight: 100;
	font-size: 15px;
	margin-bottom: 1px;
}

.derecha h5 {
	display: inline;
}

.emails {
	position: relative;
    top: 15px;
}

.num {
	font-weight: 100;
}

.say {
	position: relative;
	top:39px;
}

.linea-5 {
	height: 1px;
	background: #f4f4f4;
	width: 77%;
    position: relative;
    top: 34px;
}

.linea-6 {
	height: 1px;
	background: #c5ac83;
	width: 4%;
    position: relative;
    top: 39px;
}

.emails-2 {
	position: relative;
    top: 51px;
}